<!-- html template to enter user email id on forgot password -->
<div class="card" style="width: 450px;">
  <!-- card container  -->
  <div class="card-body">
    <h5 class="card-title">Forgot Password</h5>
   
    <p class="card-text">
      <!-- form to send mail id to controller action -->
        <form action="/users/searchToken" method="post">

   <h6 class="card-subtitle mb-2 text-muted">Enter your valid Email Account</h6>
  <!-- input container to enter mail id -->
   <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Email" id="exampleInputEmail1" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
    </p>
   
  </div>
</div>

