<!-- html template to send mail on new user registration-->
<div>
  <p>Hi <%= user.name %></p>
  <br />
  <p>Welcome</p>
  <br />
  <h3>Your account is successfully created !!</h3>
  <br />
  <p>Thanks!</p>
</div>
