<!-- template to send reset password link to user on their email  -->
<div>
  <p>Hi Your Password Reset Link:</p>
  <p>Click on the link to reset your password!</p>
  <!-- here sending random generated access token on verification of user -->
  <a
    href="http://localhost:8000/users/reset-password/?accessToken=<%= token.token %>"
    >Reset Password</a
  >
  <p>Thanks!</p>
</div>
